header{
    display: flex;
    width: auto;
    align-content: center;
    height:70px;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-stretch:100%;
    line-height: 24px;
}

.nav{
    display: inline-flex;
    width:50%;
    height:100%;
    vertical-align: center;
}


#right_nav{ 
    text-align: right;
    position:relative;
}
.header_anchors {
    padding-top:10px;
    padding-left: 15px;
    padding-right:5px;
    text-decoration: none;
    color:black;
}
.header_anchors:hover {
    text-decoration:underline;
}
#gmail {
    margin-left: 75%;
}

#apps_icon {
    height:25px;
    width:25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
}

#user_icon {
    height:40px;
    width:30px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right:15px;
}

#logo_box {
    height: 200px;
    width:100%;
}

#logo {
    padding-left:42%;
    padding-top:5%;
}

#bar {
    margin:0 auto;
    width: 575px;
    border-radius: 40px;
    border: 1px solid #dcdcdc;
    height:45px;
}

#bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#magnifier{
    position:relative;
    left:8px;
    bottom: 14px;
    height:25px;
    width:25px;
    opacity: 30%;
}

.search_bar {
    position:relative;
    left:20px;
    bottom:22px;
    height: 40px;
    border:none;
    width:500px;
    font-size:20px;
    outline:none;
}

#mic {
    position:relative;
    bottom:8px;
    height: 40px;
    width: 40px;
    padding-top:10px;
    padding-bottom: -15px;
    margin-left:-10px;

}

.buttons {
    display:flex;
    height: 50px;
    justify-content:center;
}

.button{
    border-radius: 10px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;
    height:80%;
    color:#4d4c4cdc;
    border:none;
    font-size:16px;
    width:150px;
}

.button:hover{
    color:black;
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.button:focus{
    outline:rgb(57, 135, 236) auto 1px;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: #e9e9e9;
    padding-left:20px;
}
li a {
    float:left;
    display: block;
    color:rgb(95, 95, 95);
    text-align:center;
    padding:20px 30px;
    text-decoration: none;
    font-size:18px;
}

li a:hover{
    text-decoration: underline;
}
.nav_break {
    padding-right:55%;
}

